.game-header {
  margin-top: 30px;
  display: flex;
  align-items: center;
  .game-title {
    font-size: 30px;
    margin-right: 350px;
  }
}

.game-body {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 500px;
  &-title {
    margin-top: 20px;
  }
  &-match {
    background-color: black;
    color: white;
    width: 150px;
    height: 35px;
    border-radius: 5px;
  }
  .player-name {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    &-change {
      color: rgb(0, 203, 30);
    }
  }

  &-choose {
    display: flex;
    .btn-yes {
      width: 200px;
      height: 100px;
    }
    .btn-no {
      width: 200px;
      height: 100px;
    }
    .btn-result {
    }
    .result-message {
      margin: 10px 80px;
      &-correct {
        background-color: rgb(19, 212, 8);
        color: white;
        width: 120px;
        height: 40px;
        border-radius: 5px;
      }
      &-incorrect {
        background-color: rgb(212, 8, 8);
        color: white;
        width: 120px;
        height: 40px;
        border-radius: 5px;
      }
    }
  }
}

.game-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .btn-submit {
    background-color: rgb(219, 70, 95);
    color: white;
    width: 120px;
    height: 40px;
    border-radius: 5px;
  }
  .loading {
    background-color: rgb(222, 222, 222);
    color: black;
    width: 150px;
    height: 35px;
    border-radius: 5px;
  }
}
